#container1 {
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;

}

.box {
    justify-content: center;
    margin-right: 3em;
    margin-left: 3em;
  
}

.answer {
    padding: 10px;
    text-align: center;
}

#block {
    display: flex;
    justify-content: flex-end;
    font-size: 16 px;
    height: 10vh;
    width: 300 px;
    border: double 5px black;
}

#block2 {
    display: flex;
    justify-content: flex-end;
    height: 70vh;
    font-size: 16 px;
    width: 300 px;
    border: double 5px black;

}

#m_block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16 px;
    width: 100 px;
    border: double 5px blue;
    
}
#score{
    border: 5px solid red;
}
.note {
    display: flex;
    justify-content: space-around;
    border: 5px solid red;
    align-items: center;
}

input{

    border:none;
    border-radius: 10px;
    outline: none;
    font-size: 10em;
    width: 1em;
    text-align :center;
    background: linear-gradient(180deg, #5EC6F5 0%, #007AFF 100%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#sub_btn{
    box-shadow: 0px 0.8px 1.5px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    background-color: #007AFF;

}